.titulo1{
    text-align: center;
}

.titulot1{
    background-color: #9ec5fe;
}

.titulot2{
    background-color: #9ec5fe;
}

.titulot3{
    background-color: #9ec5fe;
}

.tabla1{
    border-color: #77acfa;

}

.tabla2{
    border-color: #77acfa;
}

.titulot4{
    background-color: #9ec5fe;
}


.cajalogin{
    background-color: rgb(132, 175, 255);
    
}

.contat1{
    margin-left: 300px;
}

.contat2{
    margin-left: 300px;
}

.contat3{
    margin-left: 300px;
}

.contat4{
    margin-left: 350px;
}

.contat5{
    margin-left: 300px;
}

.login{
    margin-top: 100px;
    margin-left: 510px;
}

.tlogin{
    text-align: center;
}

.btn-login{
    background-color: #0d6efd;
    border-color: #0d6efd;
    border-radius: 4px;
    color: azure;
}

.btn-login:hover{
    background-color: #448fff;
}
